{% load i18n future pages_tags blog_tags keyword_tags mezzanine_tags %}

<nav class="row">
          <div class="col col-1">
            <h1 class="logo"><a href="https://www.mozilla.org/az/">Mozilla</a></h1>
            <p class="license">Bu məzmunun bir hissəsi ©1998–2015 mozilla.org<br/>proyektinin iştirakçıları tərəfindən yaradılıb. Məzmun <a href="https://www.mozilla.org/az/foundation/licensing/website-content/">Creative Commons lisenziyası</a> ilə mövcuddur.</p>
          </div>
          <div class="col col-2">
            <ul class="links-join">
              <li><a href="https://www.mozilla.org/az/contact/spaces/">Bizimlə Əlaqə</a></li>
              <li class="wrap"><a href="https://www.mozilla.org/az/about/partnerships/">Bizimlə iş birliyi</a></li>
              <li class="clear"><a href="https://sendto.mozilla.org/page/contribute/Give-Now?source=mozillaorg_default_footer" class="donate">İanə</a></li>
              <li class="wrap"><a href="https://affiliates.mozilla.org/">Firefox Köməkçiləri</a></li>
              <li class="clear"><a href="https://www.mozilla.org/az/contribute/page/">Mozilla Səhifələrinə töhfə ver</a></li>
            </ul>
            <ul class="links-legal">
              <li><a href="https://www.mozilla.org/az/privacy/">Məxfilik</a></li>
              <li class="wrap"><a href="https://www.mozilla.org/az/privacy/websites/#cookies">Çərəzlər</a></li>
              <li class="wrap"><a href="https://www.mozilla.org/az/about/legal/">Qanuni</a></li>
              <li class="clear"><a href="https://www.mozilla.org/az/about/legal/fraud-report/">Əmtəə Nişanının Qanunsuz İstifadəsi Haqqında Xəbər Ver</a></li>
            </ul>
          </div>
          <div class="col col-3">
            <ul class="links-social">
              <li>
                Mozilla Azerbaijan:
                <ul>
                  <li><a href="https://twitter.com/mozilla_az">Twitter<span> (@mozilla_az)</span></a></li>
                  <li><a href="https://www.facebook.com/mozillaz.org">Facebook<span> (Mozilla Azerbaijan)</span></a></li>
                </ul>
              </li>
              <li>
                Mozilla:
                <ul>
                  <li><a href="https://twitter.com/mozilla">Twitter<span> (@mozilla)</span></a></li>
                  <li><a href="https://www.facebook.com/mozilla">Facebook<span> (Mozilla)</span></a></li>
                </ul>
              </li>
              <li>
                Firefox:
                <ul>
                  <li><a href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a></li>
                  <li><a href="https://www.facebook.com/Firefox">Facebook<span> (Firefox)</span></a></li>
                  <li><a href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
</nav>
