{% extends "base.html" %}
{% load i18n staticfiles blog_tags mezzanine_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(static/images/slider/bg1.jpg)" class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h2 class="animation animated-item-1">{% trans "Firefox: The independent choice" %}</h2>
                                    <p class="animation animated-item-2">{% trans "Help us celebrate 10 years of choice and independence online." %}</p>
                                    <a href="https://www.mozilla.org/az/firefox/independent/#play" class="btn btn-md animation animated-item-3">{% trans "Learn More" %}</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container">
                                        <iframe width="560" height="315" src="//www.youtube.com/embed/LtOGa5M8AuU?rel=0&html5=1" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(static/images/slider/bg2.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h2 class="boxed animation animated-item-1">{% trans "Choose Independent, Choose Firefox" %}</h2>
                                    <br/>
                                    <p class="boxed animation animated-item-2">{% trans "Most Trusted Internet Company For Privacy" %}</p>
                                    <br/>
                                    <a href="https://www.mozilla.org/az/firefox/"><img src="{% static "img/downloadfx.png" %}"></a>
                                    <br/>
                                    <a href="https://www.mozilla.org/az/firefox/desktop/" class="btn btn-md animation animated-item-3">{% trans "Learn More" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(static/images/slider/bg3.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h2 class="boxed animation animated-item-1">{% trans "Firefox Hello - As easy as saying hello" %}</h2>
                                    <p class="boxed animation animated-item-2">{% trans "Meet Firefox Hello, the easiest way to connect for free over video with anyone, anywhere." %}</p>
                                    <br>
                                    <a href="https://www.mozilla.org/az/firefox/hello/" class="btn btn-md boxed animation animated-item-3">{% trans "Learn More" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>
    <section class="download-section" id="services">
      <CENTER>
        <div id="download">
            <a href="https://www.mozilla.org/az/firefox/" target="_blank">{% trans "Firefox Desktop" %}<small>{% trans "Get it free on Mozilla" %}</small></a>
            <img class="logo" src="https://mozorg.cdn.mozilla.net/media/img/styleguide/identity/firefox/usage-logo.png">
            <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozillaz-org" target="_blank">{% trans "Firefox for Android" %}<small>{% trans "Get it on Google Play" %}</small></a>
        </div>
      </CENTER>
    </section>
	 <section id="recent-posts">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>{% trans "Latest Posts" %}</h3>
                    <p>{% trans "Mozilla Azerbaijan News" %}. {% trans "Information for media is available in our media page." %}</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                 {% block blog_recent_posts %}
                                  {% blog_recent_posts 5 as recent_posts %}
                                   {% if recent_posts %}
                                    {% for recent_post in recent_posts %}
                                      <div class="col-xs-4">
                                       <a href="{{ recent_post.get_absolute_url }}">
                                        <div class="recent-post-item">
                                            <div class="item-inner">
                                              {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                                                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 236 236 %}" alt="">
                                              {% endif %}
                                                <h5>
                                                    {{ recent_post.title }}
                                                </h5>
                                            </div>
                                        </div>
                                       </a>
                                      </div>
                                    {% endfor %}
                                   {% endif %}
                                 {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

